<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/reset-included.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <!-- Loader -->
    <div class="loader">
      <img src="{% static 'img/mg_logo.png' %}" style="width: 70%; "  alt="FRC Takımımız Logo">
  </div>
  
  
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
  
        <a class="navbar-brand" href="#">
          <img  src="{% static 'img/mg_logo.png' %}" alt="logo1">
            </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link text-center "  href="/">HOME</a>
          <a class="nav-link text-center active current-page" href="/aboutus">ABOUT US</a>
          <a class="nav-link text-center" href="/projects">PROJECTS</a>
          <a class="nav-link text-center" href="/blog">BLOG</a>
          <a class="nav-link text-center" href="/sponsors">SPONSORS</a>
          <a class="nav-link text-center" href="/contact">CONTACT</a>
          <a class="nav-link text-center" href="/resources">RESOURCES</a>
        </div>
      </div>
    </div>
  </nav>


  <!-- Hero Image -->

  <div class="hero">
    <img src="{% static 'img/takim-hero.jpeg' %}" alt="uzay">
    <div class="hero-text text-center">
        <p class="slogan">
            TEAM MAGNETAR
            
        </p>
        <!-- <p class="mt-5">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Asperiores consequatur eos ipsum? Magni vel, inventore fuga ipsa minus praesentium explicabo ipsam, nemo perferendis illum commodi, fugit amet iure laudantium earum!</p> -->
    </div>

</div>






<div class="container">
  <div class="about-cards">



    <div class="row">
      <h1 class="text-center title" >Magnetar Team Structure</h1>
      <div class="col-lg-6">
        <div class="card" style="background-color: whitesmoke;">
          <div class="card-inner">
            <div class="card-front" id="pr-card-image">
              <h2 class="front-title">PUBLIC RELATIONS</h2>
              <p class="front-info">Click or hover for details</p> <!-- Yeni eklendi -->
            </div>
            <div class="card-back">
              <h2 class="back-title">PUBLIC RELATIONS</h2>
              <div class="back-content">
                <div class="section">
                  <h3>SRP</h3>
                  <p class="mt-5" >The SRP team undertakes community initiatives and sustainability projects, such as environmental conservation and educational programs. Their goal is to make a positive impact and encourage others to engage in meaningful social contributions.
                  </p>
                </div>
                <div class="section">
                  <h3>SPONSORS</h3>
                  <p class="mt-5" >Magnetar #10205 depends on sponsors who provide vital resources such as financial support, components, and mentorship. Their contributions are crucial for our success in robotics and inspire the next generation of engineers.
                  </p>
                </div>
                <div class="section">
                  <h3>ADVERTISMENT</h3>
                  <p class="mt-5" >Advertisement Our advertising strategy focuses on showcasing Magnetar’s achievements and events through social media and other platforms. This approach aims to increase awareness of STEM and connect with individuals who share our passion for innovation.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="col-lg-6">
        <div class="card" style="background-color: whitesmoke;">
          <div class="card-inner">
            <div class="card-front">
              <h2 class="front-title">MECHANICS</h2>
              <p class="front-info">Click or hover for details</p> <!-- Yeni eklendi -->
            </div>
            <div class="card-back">
              <h2 class="back-title">MECHANICS</h2>
              <div class="back-content">
                <div class="section">
                  <h3>MECHANICS</h3>
                  <p class="mt-5">The CAD team designs the robot's structure and components using advanced 3D modeling software. They create detailed blueprints that guide the mechanics and electronics teams, ensuring all parts are optimized for performance in competitions.
                  </p>
                </div>
                <div class="section">
                  <h3>ELECTRONICS</h3>
                  <p class="mt-5">The Electronics team integrates sensors, motors, and control systems to ensure our robot operates efficiently. Their collaboration with other teams is essential for optimizing the robot's performance in competitions, guaranteeing reliability and success.</p>
                </div>
                <div class="section">
                  <h3>PROGRAMING</h3>
                  <p class="mt-5">The Programming team develops software to control the robot's functions, from autonomous operations to manual control. They collaborate closely with the Electronics team, continually refining the robot's performance through rigorous testing and adjustments.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    
  </div>

  
</div>




<!-- ? Vizyon Misyon -->
<!-- ! Yeni Cart Yapısı Kullanılacak -->

<div class="spc-cards mt-5" style="background-color: whitesmoke;">

  <div class="container vmh" >
    
    <div class="row">
      <h1 class="text-center title">Meet with the Magnetar Vision</h1>
      <div class="col-lg-6 col-md-12 col-sm-12 vizyon mt-5">
        <div class="card m-auto" style="height: auto ;">
          <div class="card-body">
            <h5 class="card-title text-center">OUR VISION</h5>
            <p class="text-center card-text">As the Magnetar FRC team, our vision is to be recognized as a leading team in both national and international robotics arenas, inspiring the engineers of the future by reaching broader platforms. We aim to achieve global sustainable success by nurturing individuals in the STEM field who possess 21st-century skills, following technological innovations, and effectively utilizing them to develop projects. One of our primary goals is to ensure the sustainability of the team by leading our students, who are trained with the Magnetar discipline, to pass on their experiences to the new generations.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-12 col-sm-12 misyon">
        <div class="card m-auto mt-5" style="height: auto ;">
          <div class="card-body">
            <h5 class="card-title text-center">OUR MISSION</h5>
            <p class="text-center card-text">As the Magnetar FRC team, our mission is to make STEM accessible to everyone without discrimination by increasing interest in technology and engineering at a young age. We aim to use the FRC platform to develop analytical thinking, problem-solving, and collaboration skills. Our goal is to achieve the highest level of success in every competition while also contributing to our community and future by raising awareness of the fields of science, technology, engineering, and mathematics (STEM) within the scope of 21st-century skills.</p>
          </div>
        </div>
      </div>
      <!--<div class="col hedefler mt-5">
        <div class="card m-auto">
          <div class="card-body">
            <h5 class="card-title text-center">HEDEFLER</h5>
            <p class="text-center card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id vel blanditiis, a eum sed fugiat quas modi at et minima nemo aliquid expedita enim amet. Illum facere blanditiis tenetur nesciunt!
            Deserunt inventore quasi nesciunt eveniet, omnis consequatur porro odio ad dolorum! Amet voluptatibus alias consequatur aut consequuntur nisi ut eos fugiat eum eaque quo voluptas, id vel, quisquam laborum? Accusantium.
            Incidunt mollitia libero impedit repellat obcaecati corporis aspernatur! Dignissimos officiis aspernatur magnam itaque, nostrum ad, aliquam adipisci odit necessitatibus quibusdam est velit dolor quidem asperiores nobis repellat maiores, quod assumenda?</p>
          </div>
        </div>
      </div>
  
    </div> -->
  </div>

</div>

</div>





<footer class="py-5">
  <div class="container m-auto">
      <div class="row m-auto">
        <div class="col-6 col-md-2 mb-3 m-auto">
          <!-- <h5>Section</h5> -->
          <ul class="nav flex-column mt-3">
            <li class="nav-item mb-2 footer-link"><a href="/" class="nav-link p-0 ">Home</a></li>
            <li class="nav-item mb-2 footer-link"><a href="/aboutus" class="nav-link p-0 ">About Us</a></li>
            <li class="nav-item mb-2 footer-link"><a href="/projects" class="nav-link p-0 ">Projects</a></li>
            <li class="nav-item mb-2 footer-link"><a href="/blog" class="nav-link p-0 ">Blog</a></li>
          </ul>
        </div>
  
        <div class="col-6 col-md-2 mb-3 m-auto">
          <!-- <h5>Section</h5> -->
          <ul class="nav flex-column mt-3">
            <li class="nav-item mb-2 footer-link"><a href="/sponsors" class="nav-link p-0 ">Sponsors</a></li>
            <li class="nav-item mb-2 footer-link"><a href="/contact" class="nav-link p-0 ">Contact</a></li>
            <li class="nav-item mb-2 footer-link"><a href="/resources" class="nav-link p-0 ">Resources</a></li>
            <li class="nav-item mb-2 footer-link"><a href="/gallery" class="nav-link p-0 ">Gallery</a></li>
          </ul>
          
        </div>
        

  
        <div class="col-md-5 offset-md-1  m-auto">
          <iframe class="footer-map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3126.6241722680043!2d27.098661599999996!3d38.403938!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14bbd94b04326203%3A0x1c3c0bce387fc3e!2zSXptaXIgw5Z6ZWwgVMO8cmsgS29sZWppIEJhaGF0dGluIFRhdMSxxZ8gS2FtcMO8c8O8!5e0!3m2!1str!2str!4v1724011946430!5m2!1str!2str" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
      </div>


  </div>

  <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top ">
    <p>© 2024 Magnetar, Inc. All rights reserved.</p>
    <ul class="list-unstyled d-flex footer-icons">
      <li><a href="#"><img class="mt-2" style="border-radius: 10px;" src="{% static 'img/icons8-instagram-50.png' %}" alt="instagram"></a></li>
      <li><a href="#"><img src="{% static 'img/icons8-youtube-64.png' %}" alt="youtube"></a></li>
      <li><a href="#"><img class="mt-2" src="{% static 'img/icons8-github-50.png' %}" alt="github"></a></li>
    </ul>
  </div>
</footer>



  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  <script src="{% static 'js/script.js' %}"></script>
  


    
</body>
</html>