<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/reset-included.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

    <!-- Loader -->
<div class="loader">
    <img src="{% static 'img/mg_logo.png' %}" style="width: 70%; "  alt="FRC Takımımız Logo">
</div>


<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">

      <a class="navbar-brand" href="#">
        <img  src="{% static 'img/mg_logo.png' %}" alt="logo1">
          </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse w-100 m-auto" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link text-center active current-page"  href="/">HOME</a>
        <a class="nav-link text-center " href="/aboutus">ABOUT US</a>
        <a class="nav-link text-center" href="/projects">PROJECTS</a>
        <a class="nav-link text-center" href="/blog">BLOG</a>
        <a class="nav-link text-center" href="/sponsors">SPONSORS</a>
        <a class="nav-link text-center" href="/contact">CONTACT</a>
        <a class="nav-link text-center" href="/resources">RESOURCES</a>
      </div>
    </div>
  </div>
</nav>


      <div class="hero">
        <img src="{% static 'img/takim-hero.jpeg' %}" alt="uzay">
        <div class="hero-text text-center">
            <p class="slogan">
              CREATIVE MINDS,<br>
              ENDURING TOMORROW
            </p>
        </div>
    </div>
    
<div class="spc-cards">

  <div class="home-card">
  
    <div class="container">
    
        <div id="first-card" class="card mb-3">
            <div class="card-body">
              <h5 class="card-title text-center">Our Team</h5>
              <p class="card-text text-center" >Magnetar is a robotics team entirely run by students. Our team consists of 44 young people who are passionate about technology and engineering, and mentors who guide us. We have achieved significant success on various national and international platforms such as robotics competitions and olympiads. As Magnetar, we act with a team spirit that fosters innovation, promotes STEM, and enhances problem-solving skills.</p>
            </div>
    </div>
    </div>
      
    <!-- <div class="container card-2">
  
      <div class="row">
        <div class="col">
          <div class="card">
              <div class="card-body">
                <h5 class="card-title text-center">Our Team</h5>
                <p class="card-text text-center" > bütünüyle öğrenciler tarafından yürütülen bir robotik takımıdır. Takımımız, robotik yarışmaları ve olimpiyatlar gibi çeşitli ulusal ve uluslararası platformlarda önemli başarılara imza atmış, teknolojiye ve mühendisliğe tutkuyla bağlı 44 gençten ve bizi yönlendiren mentörlerden oluşmaktadır. Magnetar olarak; inovasyonu, STEM’i teşvik edip yayan ve problem çözme yeteneklerini geliştiren bir ekip ruhu ile hareket ediyoruz.</p>
              </div>
      </div>
  
        </div>
        <div class="col">
          <div class="card " id="second-card">
            <div class="card-body">
              <h5 class="card-title text-center">Our Team</h5>
              <p class="card-text text-center" >Lor ipsum dolor sit amet consectetur, adipisicing elit. Dicta rerum mollitia officia consectetur eveniet est dolor itaque doloremque asperiores incidunt assumenda, reiciendis, laudantium eaque magni, et quod fuga omnis labore!
              Minima, ipsa nobis. Quo molestiae, tenetur possimus suscipit eaque ad blanditiis cupiditate assumenda quibusdam nesciunt! Possimus ipsa fugit recusandae ut ab alias accusantium, vitae sint, voluptatibus natus maiores rerum eum?
              Voluptatibus et magnam tenetur laudantium nulla, quia in temporibus modi! Alias fugiat sit cum, animi similique voluptate maiores quam aperiam eligendi? Eaque, et quas? Ab iste delectus ratione dignissimos impedit?
              Porro cupiditate laborum quos voluptate perferendis temporibus, ea ipsa libero qui eius? Odit facilis minima maxime non. Aspernatur, nihil eaque, velit accusantium fuga hic modi excepturi corrupti ullam esse quo?
              Hic harum mollitia assumenda, amet magnam in nobis corporis et ab. Doloribus ducimus esse eum incidunt tempora voluptate maiores alias labore magnam reprehenderit soluta repudiandae, nam nesciunt aliquid assumenda placeat!</p>
            </div>
    </div>
        </div>
      </div>
  
  
  </div> -->
      
    </div>

</div>  

<!-- <div class="r-card">
  <div class="container mt-5 hm-rs-card">
    <div class="card mb-3 r-card-1">
      <div class="card-body">
        <h5 class="card-title text-center">Our Team</h5>
        <p class="card-text text-center">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dicta rerum mollitia officia consectetur eveniet est dolor itaque doloremque asperiores incidunt assumenda, reiciendis, laudantium eaque magni, et quod fuga omnis labore!
          Minima, ipsa nobis. Quo molestiae, tenetur possimus suscipit eaque ad blanditiis cupiditate assumenda quibusdam nesciunt! Possimus ipsa fugit recusandae ut ab alias accusantium, vitae sint, voluptatibus natus maiores rerum eum?
          Voluptatibus et magnam tenetur laudantium nulla, quia in temporibus modi! Alias fugiat sit cum, animi similique voluptate maiores quam aperiam eligendi? Eaque, et quas? Ab iste delectus ratione dignissimos impedit?
          Porro cupiditate laborum quos voluptate perferendis temporibus, ea ipsa libero qui eius? Odit facilis minima maxime non. Aspernatur, nihil eaque, velit accusantium fuga hic modi excepturi corrupti ullam esse quo?
          Hic harum mollitia assumenda, amet magnam in nobis corporis et ab. Doloribus ducimus esse eum incidunt tempora voluptate maiores alias labore magnam reprehenderit soluta repudiandae, nam nesciunt aliquid assumenda placeat!
        </p>
      </div>
    </div>

    <div class="card mb-3 mt-5 r-card-2">
      <div class="card-body">
        <h5 class="card-title text-center">Our Team</h5>
        <p class="card-text text-center">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dicta rerum mollitia officia consectetur eveniet est dolor itaque doloremque asperiores incidunt assumenda, reiciendis, laudantium eaque magni, et quod fuga omnis labore!
          Minima, ipsa nobis. Quo molestiae, tenetur possimus suscipit eaque ad blanditiis cupiditate assumenda quibusdam nesciunt! Possimus ipsa fugit recusandae ut ab alias accusantium, vitae sint, voluptatibus natus maiores rerum eum?
          Voluptatibus et magnam tenetur laudantium nulla, quia in temporibus modi! Alias fugiat sit cum, animi similique voluptate maiores quam aperiam eligendi? Eaque, et quas? Ab iste delectus ratione dignissimos impedit?
          Porro cupiditate laborum quos voluptate perferendis temporibus, ea ipsa libero qui eius? Odit facilis minima maxime non. Aspernatur, nihil eaque, velit accusantium fuga hic modi excepturi corrupti ullam esse quo?
          Hic harum mollitia assumenda, amet magnam in nobis corporis et ab. Doloribus ducimus esse eum incidunt tempora voluptate maiores alias labore magnam reprehenderit soluta repudiandae, nam nesciunt aliquid assumenda placeat!
        </p>
      </div>
    </div>
  </div>
</div> -->


<!-- ! Projeler Kısmındaki eklenen son 3 proje buraya gelecek -> django -->




<div id="projects" class="mt-5">
  <div class="container">
    <h2 style="text-align: center; font-size: 36px; margin-bottom: 30px;">Latest Projects</h2>
    <div class="row">
      {% for project in Projects  %}
      <div class="col-lg-4 col-md-6 col-sm-12">
        <a style="list-style: none; text-decoration: none;" href="/projects">
          <div class="project-card ">
            <img  src="{{ project.image.url }}" alt="Güncel Proje" class="project-img w-75">
            <h3>{{ project.title }}</h3>
            <p>{{ project.description|slice:":180" }}{% if project.description|length > 180 %}...{% endif %}</p>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</div>



<!-- <div class="events-container">
  <div class="container">

    <h1 class="">Upcoming Events</h1>
    <div class="row">
      <div class="col-lg-6 col-md-12 col-sm-12 details">
        <h2 class="text-center mb-5" style="font-size: 36px;">Magnetar Team to Host Technology Conference in Bursa</h2>
        <p class="w-75 m-auto" style="font-family: 'Roboto', sans-serif;">The Magnetar Team is excited to announce that they will be hosting a technology conference in Bursa. This event will bring together tech enthusiasts and professionals to explore the latest advancements and innovations in the field. Attendees will have the opportunity to learn from experts, engage in thought-provoking discussions, and network with like-minded individuals. Don't miss this chance to be part of a transformative experience in the heart of Bursa!</p>
        
  
      </div>
  
      <div class="col-lg-6 col-md-12 col-sm-12 countdown-container ">
        <h2 class="mb-4" style="font-size: 36px;">Event Date and Time :
          <br> September 31, 2024
          <br> 10:00 AM</h2>
        <div class="countdown">
            <div class="time-box">
                <div class="number">0</div>
                <div class="label">Days</div>
            </div>
            <div class="time-box">
                <div class="number">0</div>
                <div class="label">Hours</div>
            </div>
            <div class="time-box">
                <div class="number">0</div>
                <div class="label">Minutes</div>
            </div>
        </div>
  
  
      </div>
  
    </div>



  </div>
</div> -->



<!-- <section id="sponsors mt-5" style="height: 360px;">
  <div class="container mt-5">
      <h1 style="font-size: 40px; text-align: center; margin-bottom: 50px; margin-top: 50px;">Our Sponsors</h1>
      <div class="sponsor-wrapper" style="margin-top: 100px">
          <div class="sponsor-logos">
            {% for sponsor in Sponsors  %}
            <a href="/sponsors"><img src="{{ sponsor.image.url }}" alt="Sponsor : {{ sponsor.title }}"></a>
            {% endfor %}
            {% for sponsor in Sponsors  %}
            <a href="/sponsors"><img src="{{ sponsor.image.url }}" alt="Sponsor : {{ sponsor.title }}"></a>
            {% endfor %}
            {% for sponsor in Sponsors  %}
            <a href="/sponsors"><img src="{{ sponsor.image.url }}" alt="Sponsor : {{ sponsor.title }}"></a>
            {% endfor %}
            {% for sponsor in Sponsors  %}
            <a href="/sponsors"><img src="{{ sponsor.image.url }}" alt="Sponsor : {{ sponsor.title }}"></a>
            {% endfor %}
            {% for sponsor in Sponsors  %}
            <a href="/sponsors"><img src="{{ sponsor.image.url }}" alt="Sponsor : {{ sponsor.title }}"></a>
            {% endfor %}
            {% for sponsor in Sponsors  %}
            <a href="/sponsors"><img src="{{ sponsor.image.url }}" alt="Sponsor : {{ sponsor.title }}"></a>
            {% endfor %}
            {% for sponsor in Sponsors  %}
            <a href="/sponsors"><img src="{{ sponsor.image.url }}" alt="Sponsor : {{ sponsor.title }}"></a>
            {% endfor %}
            {% for sponsor in Sponsors  %}
            <a href="/sponsors"><img src="{{ sponsor.image.url }}" alt="Sponsor : {{ sponsor.title }}"></a>
            {% endfor %}

              
          </div>
      </div>
  </div>
</section> -->


  <div class="gallery-container" style="background-color: whitesmoke; height: auto; padding: 20px">
    <div class="container ">
      <h1 style="font-size: 40px; text-align: center; margin-bottom: 50px; margin-top: 50px;">Gallery</h1>
      <div class="row">

        
        {% for media in Medias %}

        <div class="col-lg-3 col-md-6 col-sm-12 mt-5">
          <img style="width: 100%; height: 200px; object-fit: cover" src="{{ media.image.url }}" alt="image">
        </div>
          
        {% endfor %}
          


        <a href="/gallery"><div class="col-12 mt-5"><button class="btn  w-100" style="background-color: blueviolet; color: #fff;">View More</button></div></a>



      </div>
    </div>
  </div>




  <footer class="py-5 mt-5">
    <div class="container m-auto">
        <div class="row m-auto">
          <div class="col-6 col-md-2 mb-3 m-auto">
            <!-- <h5>Section</h5> -->
            <ul class="nav flex-column mt-3">
              <li class="nav-item mb-2 footer-link"><a href="/" class="nav-link p-0 ">Home</a></li>
              <li class="nav-item mb-2 footer-link"><a href="/aboutus" class="nav-link p-0 ">About Us</a></li>
              <li class="nav-item mb-2 footer-link"><a href="/projects" class="nav-link p-0 ">Projects</a></li>
              <li class="nav-item mb-2 footer-link"><a href="/blog" class="nav-link p-0 ">Blog</a></li>
            </ul>
          </div>
    
          <div class="col-6 col-md-2 mb-3 m-auto">
            <!-- <h5>Section</h5> -->
            <ul class="nav flex-column mt-3">
              <li class="nav-item mb-2 footer-link"><a href="/sponsors" class="nav-link p-0 ">Sponsors</a></li>
              <li class="nav-item mb-2 footer-link"><a href="/contact" class="nav-link p-0 ">Contact</a></li>
              <li class="nav-item mb-2 footer-link"><a href="/resources" class="nav-link p-0 ">Resources</a></li>
              <li class="nav-item mb-2 footer-link"><a href="/gallery" class="nav-link p-0 ">Gallery</a></li>
            </ul>
            
          </div>
          
  
    
          <div class="col-md-5 offset-md-1  m-auto">
            <iframe class="footer-map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3126.6241722680043!2d27.098661599999996!3d38.403938!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14bbd94b04326203%3A0x1c3c0bce387fc3e!2zSXptaXIgw5Z6ZWwgVMO8cmsgS29sZWppIEJhaGF0dGluIFRhdMSxxZ8gS2FtcMO8c8O8!5e0!3m2!1str!2str!4v1724011946430!5m2!1str!2str" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
        </div>
  
  
    </div>
  
    <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top ">
      <p>© 2024 Magnetar, Inc. All <a target="_blank" style="text-decoration: none; color: white;" href="/admin">rights</a> reserved.</p>
      <ul class="list-unstyled d-flex footer-icons">
        <li><a href="#"><img class="mt-2" style="border-radius: 10px;" src="{% static 'img/icons8-instagram-50.png' %}" alt="instagram"></a></li>
        <li><a href="#"><img src="{% static 'img/icons8-youtube-64.png' %}" alt="youtube"></a></li>
        <li><a href="#"><img class="mt-2" src="{% static 'img/icons8-github-50.png' %}" alt="github"></a></li>
      </ul>
    </div>
  </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
      
    <script src="{% static 'js/script.js' %}"></script>


    

</body>
</html>